<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3D_SCENE_SCALE</key>
	<real>1.0</real>
	<key>AA_LEVEL</key>
	<integer>4</integer>
	<key>ALLOW_RETINA</key>
	<true/>
	<key>ALL_PLISTS</key>
	<string>iPod|iPod3,1|iPod4,1|iPod5,1|iPod7,1|iPhone|iPhone2,1|iPhone3,1|iPhone3,3|iPhone4,1|iPhone5,1|iPhone6,2|iPhone7,1|iPhone8,2|iPhone9,2|iPhone10,3|iPad|iPad1,1|iPad2,1|iPad2,2|iPad2,3|iPad2,5|iPad3,1|iPad3,2|iPad3,3|iPad3,4|iPad4,1|iPad5,1|iPad6,3|iPad6,4|iPad6,7|iPad6,8|AppleTV|AppleTV5,3|AndroidLow|AndroidMid|AndroidMid2|AndroidHigh|AndroidXtraHigh|AndroidUltraWide|SimRigTV</string>
	<key>ANIMATED_NASCAR_NET</key>
	<true/>
	<key>AUDIO_MIX_RATE</key>
	<integer>48000</integer>
	<key>BLEND_IMAGE_ANIMS</key>
	<true/>
	<key>CAR_AMBIENT_OCCLUSION</key>
	<true/>
	<key>CAR_DASH_SHADOWS</key>
	<true/>
	<key>CAR_INTERIOR_LOD</key>
	<string>A</string>
	<key>CAR_INTERIOR_SHADOW_MAPS</key>
	<true/>
	<key>CAR_LOD_MAPPING_CUBEMAP</key>
	<string>Cubemap mid
G, 20</string>
	<key>CAR_LOD_MAPPING_DRIVER</key>
	<string>Driver high
A, 4000
B, 2500
C, 60</string>
	<key>CAR_LOD_MAPPING_GARAGE</key>
	<string>Garage mid
C, 400
D, 80
E, 6</string>
	<key>CAR_LOD_MAPPING_MENU</key>
	<string>Menu high
A, 750
E, 6</string>
	<key>CAR_LOD_MAPPING_MIPMAP_OPPONENTS</key>
	<string>Mipmap mid
A, 2000
B, 1000
C, 400
D, 0</string>
	<key>CAR_LOD_MAPPING_MIPMAP_PLAYER</key>
	<string>Mipmap mid
A, 2000
B, 1000
C, 400
D, 0</string>
	<key>CAR_LOD_MAPPING_OPPONENT</key>
	<string>Opponent high
C, 800
D, 200
E, 100
F, 6</string>
	<key>CAR_LOD_MAPPING_PLAYER</key>
	<string>Player high
A, 6</string>
	<key>CAR_LOD_MAPPING_WHEELS</key>
	<string>Wheels high
B, 1200
C, 600
D, 400
E, 200
F, 0</string>
	<key>CAR_LOD_MAPPING_WHEELS_MENU</key>
	<string>Menu wheels high
A, 1000
C, 0</string>
	<key>CAR_PLANAR_REFLECTION</key>
	<true/>
	<key>CAR_SHADOW_MAPS</key>
	<true/>
	<key>CREATE_FULL_SCREEN_BUFFERS</key>
	<false/>
	<key>CUBE_MAP_DIMENSIONS</key>
	<integer>512</integer>
	<key>CUSTOMISATION_DECAL_TEXTURE_SIZE</key>
	<integer>512</integer>
	<key>CUSTOMISATION_LIVERY_TEXTURE_SIZE</key>
	<integer>1024</integer>
	<key>CUSTOMISATION_MAX_OPPONENTS</key>
	<integer>10</integer>
	<key>DEPTH_OF_FIELD_ALLOWED</key>
	<true/>
	<key>DEVICE_DESCRIPTION</key>
	<string>RR3 Resurrection (iPad Pro + streaming shadows)</string>
	<key>DYNAMIC_CAR_REFLECTIONS</key>
	<true/>
	<key>ENABLE_HUD_DEPTH_TEST</key>
	<true/>
	<key>ENGINE_DSP_OPPONENT</key>
	<true/>
	<key>ENGINE_DSP_PLAYER</key>
	<true/>
	<key>ENGINE_FONT_CACHE_SIZE</key>
	<integer>20</integer>
	<key>ENGINE_PARAMEQ</key>
	<true/>
	<key>ENGINE_RAMPS_OPPONENTS</key>
	<true/>
	<key>ENGINE_RAMPS_OPPONENT_EXPENSIVE</key>
	<true/>
	<key>ENV_MAP_DYNAMIC_BLUR</key>
	<true/>
	<key>ENV_MAP_HDR</key>
	<true/>
	<key>EXPECTED_RENDERER</key>
	<string>GL_ES_3</string>
	<key>EXPECTED_SCREEN_HEIGHT</key>
	<integer>2048</integer>
	<key>EXPECTED_SCREEN_WIDTH</key>
	<integer>2732</integer>
	<key>EXTERIOR_SHADOWS_MENU</key>
	<true/>
	<key>EXTERIOR_SHADOWS_OPPONENT</key>
	<true/>
	<key>EXTERIOR_SHADOWS_PLAYER</key>
	<true/>
	<key>EXTERNAL_DISPLAY_DEFAULT_RES</key>
	<integer>1080</integer>
	<key>FMOD_ZERO_VOLUME_VIRTUALISATION</key>
	<false/>
	<key>FONT_PAGE_SIZE</key>
	<integer>2048</integer>
	<key>FULL_OPPONENT_DAMAGE</key>
	<true/>
	<key>GAMMA_CORRECTION</key>
	<true/>
	<key>GUI_ATLAS_OVERRIDE</key>
	<string></string>
	<key>GUI_IMAGE_AUTO_SCALE</key>
	<false/>
	<key>GUI_LAYOUT_EXTENSION</key>
	<string>_1024x768</string>
	<key>HAS_PHOTO_MODE</key>
	<false/>
	<key>HIGH_RES_MENU</key>
	<true/>
	<key>LENS_FLARE_SCALE</key>
	<real>16.0</real>
	<key>LIGHTMAP_MIPMAP_LEVELS_TO_SKIP</key>
	<integer>0</integer>
	<key>LISTENER_DSP</key>
	<true/>
	<key>LOW_LOD_NASCAR_TRACKS</key>
	<string></string>
	<key>LOW_LOD_TRACKS</key>
	<string></string>
	<key>LOW_MEMORY_LEMANS_HACK</key>
	<false/>
	<key>MENU_ANIMATED_SHADOWS</key>
	<true/>
	<key>MENU_CAR_CACHE_SIZE</key>
	<integer>12</integer>
	<key>MENU_MAX_GARAGE_CARS_VISIBLE</key>
	<integer>99</integer>
	<key>MIPMAP_BIAS</key>
	<real>-2.0</real>
	<key>MOBILE_INTERNET_4G_NAME_LIST</key>
	<string>CTRadioAccessTechnologyeHRPD;CTRadioAccessTechnologyLTE;CTRadioAccessTechnologyNR;CTRadioAccessTechnologyNRNSA</string>
	<key>Notes:</key>
	<string>iPad Pro 12.9" ( wifi / cellular)</string>
	<key>OUTPUT_FOLDER</key>
	<string>normal</string>
	<key>PARTICLE_CAST_SHADOW</key>
	<true/>
	<key>PARTICLE_SCALE</key>
	<real>1.0</real>
	<key>PARTY_PLAY</key>
	<true/>
	<key>PARTY_PLAY_LOD_LIST</key>
	<string>BCDEG</string>
	<key>PARTY_PLAY_MAX_AI_OPP</key>
	<integer>12</integer>
	<key>PARTY_PLAY_MAX_AI_OPP_NASCAR</key>
	<integer>22</integer>
	<key>PARTY_PLAY_TRACK_EXTENSION</key>
	<string></string>
	<key>PIXEL_THRESHOLD_CUBEMAP_HIGH_DETAIL</key>
	<integer>40</integer>
	<key>PIXEL_THRESHOLD_CUBEMAP_LOW_DETAIL</key>
	<integer>800</integer>
	<key>PIXEL_THRESHOLD_CUBEMAP_NORMAL</key>
	<integer>100</integer>
	<key>PIXEL_THRESHOLD_NORMAL</key>
	<integer>8</integer>
	<key>PLIST_IDENTIFIER</key>
	<string>iPad6,8</string>
	<key>PROP_MIN_COVERAGE</key>
	<real>0.001</real>
	<key>R4_TRACK_EXTENSION</key>
	<string></string>
	<key>REDUCED_PNG_BITDEPTH</key>
	<false/>
	<key>RENDER_CARS_IN_CUBEMAP</key>
	<true/>
	<key>SAFE_AREA_BOTTOM</key>
	<integer>0</integer>
	<key>SAFE_AREA_LEFT</key>
	<integer>0</integer>
	<key>SAFE_AREA_RIGHT</key>
	<integer>0</integer>
	<key>SAFE_AREA_TOP</key>
	<integer>0</integer>
	<key>SHADER_OVERRIDE_EXTENSION</key>
	<string></string>
	<key>SKID_MARK_DEFERRED_LIGHTMAP</key>
	<true/>
	<key>SPLIT_SCREEN_CAR_LOD_MAPPING_PLAYER</key>
	<string>Opponent high
C, 800
D, 200
E, 100
F, 6</string>
	<key>SPLIT_SCREEN_DYNAMIC_REFLECTIONS</key>
	<false/>
	<key>SPLIT_SCREEN_PIXEL_THRESHOLD_SCALE</key>
	<real>2.0</real>
	<key>STREAMING_CAR_SHADOW_MAPS</key>
	<true/>
	<key>SUPPORTS_BIG_TRACKS</key>
	<true/>
	<key>SUPPORT_EXTERNAL_SCREEN</key>
	<true/>
	<key>TEXTURE_MIPMAP_LEVELS_TO_SKIP</key>
	<integer>0</integer>
	<key>TONEMAP</key>
	<true/>
	<key>TRACK_EXTENSION</key>
	<string></string>
	<key>UNIQUE_ENGINE_RAMP_LIMIT</key>
	<integer>14</integer>
	<key>USE_32BIT_COLOR_BUFFER</key>
	<true/>
	<key>USE_ANISOTROPIC_FILTERING</key>
	<true/>
	<key>USE_FLAREBLOCK_LIST</key>
	<true/>
	<key>USE_FULL_SCREEN_EFFECTS</key>
	<true/>
	<key>USE_GYRO</key>
	<true/>
	<key>USE_HDR_AUTOMATIC_EXPOSURE</key>
	<true/>
	<key>USE_HDR_POST_PROCESS</key>
	<true/>
	<key>USE_HIGH_QUALITY_HEADLIGHT</key>
	<true/>
	<key>USE_PARTICLE_EFFECTS</key>
	<true/>
	<key>USE_PAUSE_BLUR</key>
	<true/>
	<key>USE_PBR_WATER</key>
	<true/>
	<key>USE_REALTIME_CAR_SHADOW_MAPS</key>
	<true/>
</dict>
</plist>
